@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
body {
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url(/uqualizer/assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position-y: -200px;
}
.container {
  background-color: #fcfaf9;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url(/uqualizer/assets/bg-main-mobile.png);
  background-position-y: -200px;
}
.hone {
  position: absolute;
  margin-left: 24px;
  color: #191826;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
}
.htwo {
  position: absolute;
  font-family: "IBM Plex Sans", sans-serif;
  width: 135px;
  font-weight: 700;
  font-size: 40px;
  width: 327px;
  margin-top: 136px;
  margin-left: 24px;
  color: #191826;
}
.pone {
  position: absolute;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  width: 300px;
  margin-left: 24px;
  margin-top: 300px;
  font-weight: 500;
  line-height: 26px;
  font-size: 16px;
  color: #191826;
}
.done {
  position: absolute;
  margin-top: 622px;
  background-color: #191826;
  width: max-content;
  background-image: url(/uqualizer/assets/bg-pattern-2.svg);
  display: flex;
  width: 100vw;
  height: 600px;
  background-repeat: no-repeat;
  background-position-x: 50px;
  border-radius: 12px;
}

.itwo {
  position: absolute;
  width: 208px;
  height: 430px;
  margin-left: 80px;
  margin-top: 524px;
}
.dthree {
  position: absolute;
  background-color: #fa7453;
  width: 100vw;
  height: 545px;
  margin-top: 1002px;
  border-radius: 12px;
}
.hthree {
  position: absolute;
  width: 300px;
  margin-left: 36px;
  height: 40px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #fcfaf9;
  margin-top: 48px;
}
.ptwo {
  position: absolute;
  width: 300px;
  margin-left: 36px;
  color: #fcfaf9;
  margin-top: 100px;
  line-height: 28px;
  font-size: 18px;
  height: 140px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.boldone {
  position: absolute;
  width: 79px;
  height: 52px;
  margin-top: 276px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-size: 65px;
  line-height: 52px;
  font-weight: 700;
  color: #fcfaf9;
  margin-left: 42px;
}
.pthree {
  position: absolute;
  height: 32px;
  left: 137px;
  top: 285px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #fcfaf9;
}
.bone {
  position: absolute;
  width: 296px;
  height: 60px;
  background-color: #191826;
  background-image: url(/uqualizer/assets/icon-apple.svg);
  background-repeat: no-repeat;
  color: #fcfaf9;
  border-radius: 12px;
  background-position-x: 80px;
  background-position-y: 17px;
  margin-left: 42px;
  margin-top: 360px;
  border: none;
}
.btwo {
  position: absolute;
  width: 296px;
  height: 60px;
  background-color: #fcfaf9;
  background-image: url(/uqualizer/assets/icon-android.svg);
  background-repeat: no-repeat;
  border-radius: 12px;
  background-position-x: 70px;
  background-position-y: 17px;
  margin-left: 42px;
  margin-top: 440px;
  border: none;
  color: #191826;
}
.hfour {
  position: absolute;
  width: 146px;
  height: 32px;
  margin-top: 1610px;
  margin-left: 25px;
  color: #191826;
  font-family: "IBM Plex Sans";
}
.pfour {
  width: 327px;
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  color: #191826;
  position: absolute;
  margin-top: 1676px;
  margin-left: 25px;
}
.sone {
  font-weight: 700;
}
.ithree {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 1845px;
  margin-left: 24px;
}
.placeholder {
  position: absolute;

  margin-top: 1920px;
}
.ifour {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 1845px;
  margin-left: 60px;
}
.ifive {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 1845px;
  margin-left: 96px;
}
.boldtwo {
  position: absolute;
  margin-top: 1750px;
  width: 327px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  line-height: 26px;
  color: #191826;
  position: absolute;
  margin-left: 25px;
}
@media screen and (min-width: 768px) {
  .container {
    background-image: url(/uqualizer/assets/bg-main-tablet.png),
      url(/uqualizer/assets/bg-pattern-1.svg);
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-position-x: 100px, right;
    background-position-y: -10px, -50px, -100px;
    background-color: #f2f2f2;
    width: 100vw;
    height: 100vh;
  }
  body {
    background-color: #f2f2f2;
  }
  .hone {
    width: 140px;
    margin-left: 40px;
    height: 32px;
    margin-top: 60px;
  }
  .htwo {
    width: 500px;
    height: 200px;
    font-size: 60px;
    line-height: 60px;
    margin-left: 40px;
    margin-top: 189px;
  }
  .pone {
    margin-left: 40px;
    margin-top: 409px;
    width: 500px;
    height: 100px;
    font-size: 18px;
    line-height: 28px;
  }
  .done {
    width: 696px;
    height: 600px;
    margin-top: 770px;
    margin-left: 33px;
    background-position-x: 200px;
    background-position-y: -39px;
  }
  .itwo {
    width: 270px;
    margin-top: 632px;
    height: 536px;
  }
  .dthree {
    width: 400px;
    margin-left: 250px;
    height: 545px;
    margin-top: 920px;
  }
  .hfour {
    font-weight: 1000;
    margin-left: 40px;
  }
  .pfour {
    margin-left: 40px;
  }
  .boldtwo{
    margin-top: 1728px;
    margin-left: 125px;
  }
  .ithree{
    margin-left: 629px;
    margin-top: 1700px;
  }
  .ifour{
    margin-top: 1700px;
    margin-left: 665px;
  }
  .ifive{
    margin-top: 1700px;
    margin-left: 701px; 
  }
}
@media screen and (min-width:1000px){
  body{
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
  }
  .container{
    background-image: url(/uqualizer/assets/bg-main-desktop.png),url(/uqualizer/assets/bg-pattern-1.svg);
    background-color: #f2f2f2;
    width: 100vw;    
  }
  .hone{
    margin-left: 230px;
    margin-top: 60px;
  }
  .htwo{
    width: 1015px;
    font-size: 88px;
    line-height: 88px;
    margin-left: 230px;
  }
  .pone{
    width: 825px;
    line-height: 24px;
    font-size: 20px;
    margin-left: 230px;
  }
  .done{
    width: 1110px;
    height: 600px;
    margin-left: 230px;
    background-position-x: center ;
  }
  .itwo{
    margin-left: 400px;
  }
  .dthree{
    margin-left: 800px ;
  }
  .bone:hover{
    background-color: #66E2DC;
    cursor: pointer;
    color: white;
  }
  .btwo:hover{
    background-color: #FFB964;
    cursor: pointer;
  }
}
.hfour{
  margin-left: 230px;
}
.pfour{
  margin-left: 600px;
  margin-top: 1620px;
}
.boldtwo{
  margin-top: 1671.6px;
  margin-left: 685px;
}
.ithree{
  margin-left: 1150px;
  margin-top: 1650px;
  background: none;
}
.ifour{
  margin-left:1186px ;
  margin-top: 1650px;

}
.ifive{
  margin-left: 1222px;
  margin-top: 1650px;

}
.ithree:hover{
  background-color: #FA7453;
  cursor: pointer;
}
.ifour:hover{
  background-color: #FA7453;
  cursor: pointer;
  border-radius: 6.6px;
}
.ifive:hover{
  background-color: #FA7453;
  cursor: pointer;
}
